nav {
  background-color: var(--secondary-color);
  text-transform: uppercase;
  padding: 2px 4px;
}

.nav-logo {
  float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 104px auto 270px;
}

.links {
  list-style-type: none;
  margin: 5px 0 0 50px;
  padding: 0;
  overflow: hidden;
}

.links-item {
  float: left;
}

.links-item-a {
  display: block;
  color: var(--thirdley-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.links-item-a:hover {
  color: var(--fourth-color);
}
